{% extends "runstat/base.html" %}

{% load el_pagination_tags %}

{% block meta_title %}Group Members{% endblock meta_title %}

{% block content %}

<div class="row">
    <div class="col-xs-9">
        <h2>Список учасників группи</h2>
    </div>
    <div class="col-xs-3 search-form">
        <form mehod="get" action="">
            <input type="" name="search_name" placeholder="Ім’я Прізвище">
            <input type="submit" value="Пошук">
        </form>
    </div>
</div>

{% paginate members %}
<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Photo</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      {% for member in members %}
        <tr>
            <td><img src="http://graph.facebook.com/v2.5/{{member.object_id}}/picture"
                    alt="Photo" class="img-rounded"></td>
            <td><a href="{% url 'member' member.object_id %}">{{member.name}}</a></td>
        </tr>
      {% endfor %}
  </tbody>
</table>
{% show_pages %}
{% endblock %}
