{% extends "runstat/base.html" %}

{% block meta_title %}Group Members{% endblock meta_title %}

{% block title %}Group Members [ search field ]
{% endblock title %}

{% block content %}

<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Photo</th>
          <th>Name</th>
      </tr>
  </thead>
  <tbody>
      {% for member in members %}
        <tr>
            <td><img src="#" alt="Photo"></td>
            <td>{{member.name}}</td>
        </tr>
      {% endfor %}
  </tbody>

</table>
<img src="https://www.facebook.com/photo.php?fbid=868478539965701&set=gm.1749611645260296&type=3">
{% endblock %}
