{% extends "runstat/base.html" %}

{% load el_pagination_tags %}

{% block meta_title %}Список Учасників{% endblock meta_title %}

{% block content %}

<div class="row">
    <div class="col-xs-8">
        <h2>
            Список учасників <a href="https://www.facebook.com/groups/1745974432290684" target="_blank"><u>Facebook-групи</u></a>
        </h2>
    </div>
    <div class="col-xs-4 search-form">
        <form mehod="get">
            <input type="text" maxlength="50" size="30" name="search_name" value="{{request.GET.search_name}}" placeholder="Ім’я/Прізвище">
            <input type="submit" value="Пошук">
        </form>
    </div>
</div>

{% if request.GET.search_name %}
<div class="row">
    <div class="col-xs-12">
        <code><span>Пошук за рядком: {{request.GET.search_name}}</span><br></code>
        <code><span>Знайдено учасників: {{members_count}}</span></code>
    </div>
</div>
{% endif %}

{% paginate members %}
<table class="table table-striped table-hover">
  <thead>
      <tr>
          <th>Фото</th>
          <th>Ім’я</th>
          <th>Кількість постів</th>
      </tr>
  </thead>
  <tbody>
      {% for member in members %}
        <tr>
            <td>
                <img src="http://graph.facebook.com/v2.5/{{member.object_id}}/picture"
                    alt="Photo" class="img-rounded">
            </td>
            <td>
                <div class="members-list-name">
                    <a href="{% url 'member' member.object_id %}">{{member.name}}</a>
                </div>
            </td>
            <td>
                <div class="members-list-posts-count">
                    <span class="members-posts-num">{{member.posts_count}}</span>
                </div>
            </td>
        </tr>
      {% endfor %}
  </tbody>
</table>
    {% show_pages %}

{% endblock %}
