{% extends "runstat/base.html" %}

{% load tz %}

{% block meta_title %}Статистика{% endblock meta_title %}

{% block title %}Cтатистика{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        {% comment %}
        {% timezone 'Europe/Kiev' %}
        <code>Дані оновлено <b>{{actual_date|date:"d/m/Y"}}</b> o <b>{{actual_date|time:"H:i"}}</b> за Київським часом.</code><br>
        {% endtimezone %}
        {% endcomment %}
        Зауваження: наведені нижче цифри - приблизні, взяті із грубого аналізу стрічки новин facebook-групи.<br>
        Точні результати будуть відомі пізніше, після точного підрахунку даних кимось із організаторів.<br><br>

        На скільки відомо, всього зібрано <b>{{deposits_amount}}</b> грн (інф. від Д.Дубілета).<br>
        Це внески по 100 грн від кожного учасника та невеликий приріст, так як сумма була розміщена як депозит.<br>   
        Приблизно <b>{{members_finished_amount}}*</b> бігунів фінішували, зробили по 12+ постів в групі (з 01 по 31 травня 2016р.).<br>
        Відповідно, кількість тих, хто недобіг - <b>{{members_fail_amount}}*</b>.<br>
        Можна порахувати, що чистий прибуток наполегливих учасників складе, приблизно, <b>{{profit}}%</b> за місяць. Так, у відсотках звучить сильніше :). Точна цифра стане відома тільки після кінцевого підрахунку кимось вповноваженим. <br>
        Всього, в групу вступило близько <b>{{members_amount}}**</b> людей. Але <b>{{onlookers_amount}}</b> не зробили більше одного посту, тобто залишились "глядачами".<br>
        <small>* кількість не точна, так як враховано загальну кількість постів учасника. Але учасник міг постити в групу не тільки звіти про пробіжки.</small><br>
        <small>** цифра не точна. Похибка пов’язана із налаштуваннями приватності facebook-акаунтів учасників.</small><br>
        <h3>Графіки:</h3>
        <!-- Розподіл учасників за віком: графік <br>
        Графік, в який час люди бігають <br>
        На якій пробіжці люди здавалися: графік<br>
        А тут видно, який відсоток людей звикли відкладати все на останній день: графік "фінішів" -->
        <div class="row">
            <div class="col-xs-12">
                <div id="chart_runs_per_day">-- Тут має бути графік --</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="chart_runs_per_hour">-- Тут має бути графік --</div>
            </div>
        </div>
    </div>
</div>

{% block extra_js %}
<script>
// runs_per_day
$(function () {
    $('#chart_runs_per_day').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Розподіл кількості пробіжок по дням'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'День травня місяця',
                style: {
                    fontSize: '15px'
                }
            },
            labels: {
                // rotation: -45,
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Кількість пробіжок',
                style: {
                    fontSize: '15px'
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            // formatter: function() {
            //     return 'День: <b>' + this.x + '</b><br> Пробіжок: <b>' + this.y + '</b> ';
            // },
            headerFormat: 'День: <b>{point.key}</b><br>',
            pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Пробіжки',
            color: 'rgba(45, 70, 123, 0.60)',
            data: [
                {% for row in runs_per_day %}
                ['{{row.date_created|date:"d"}}', {{row.posts_count}}],
                {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.0f}', // without decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif',
                    fontWeight: 600,
                }
            }
        }]
    });
});

// runs_per_hour
$(function () {
    $('#chart_runs_per_hour').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Розподіл кількості пробіжок по годинам'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'Година',
                style: {
                    fontSize: '15px'
                }
            },
            labels: {
                // rotation: -45,
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Кількість пробіжок',
                style: {
                    fontSize: '15px'
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            // formatter: function() {
            //     return 'День: <b>' + this.x + '</b><br> Пробіжок: <b>' + this.y + '</b> ';
            // },
            headerFormat: 'Година: <b>{point.key}</b><br>',
            pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Пробіжки',
            color: 'rgba(45, 70, 123, 0.60)',
            data: [
                {% for row in runs_per_hour %}
                ['{{row.hour_created}}', {{row.posts_count}}],
                {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.0f}', // without decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif',
                    fontWeight: 600,
                }
            }
        }]
    });
});
</script>
{% endblock extra_js %}



{% endblock content %}
