{% extends "runstat/base.html" %}

{% load tz %}

{% block meta_title %}Статистика{% endblock meta_title %}

{% block title %}Cтатистика{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-body">
        {% timezone 'Europe/Kiev' %}
        <code>Крайнє оновлення данних було <b>{{actual_date|date:"d/m/Y"}}</b> o <b>{{actual_date|time:"H:i"}}</b> за Київським часом.</code><br>
        {% endtimezone %}
        Зауваження: наведені нижче цифри - приблизні, взяті із грубого аналізу стрічки новин facebook-групи.<br>
        Точні результати будуть відомі пізніше, після точного підрахунку данних кимось із організаторів.<br><br>
        За інфою від Д.Дубілета, всього зроблено <b>{{deposits_amount}}</b> внесків по 100 грн.<br>
        Приблизно <b>{{members_finished_amount}}*</b> бігунів фінішували, зробили по 12+ постів в групі.<br>
        Відповідно, кількість тих, хто недобіг - <b>{{members_fail_amount}}*</b> учасників.<br>
        В групу вступило близько <b>{{members_amount}}**</b> людей. Але <b>{{onlookers_amount}}</b> не зробили більше одного посту, тобто залишились "глядачами".<br>
        Можна порахувати, що чистий прибуток наполегливих учасників складе, приблизно, <b>{{profit}}%</b> за місяць. Так, у відсотках звучить сильніше :). Точна цифра стане відома тільки після кінцевого підрахунку кимось вповноваженим. <br>
        <small>* кількість не точна, так як враховано загальну кількість постів учасника. Але учасник міг постити в групу не тільки звіти про пробіжки.</small><br>
        <small>** цифра не точна. Похибка пов’язана із налаштуваннями приватності facebook-акаунтів учасників.</small><br>
        Розподіл учасників за віком: графік <br>
        Графік, в який час люди бігають <br>
        На якій пробіжці люди здавалися: графік<br>
        А тут видно, який відсоток людей звикли відкладати все на останній день: графік "фінішів"
    </div>
</div>

{% endblock %}
