{% extends "runstat/base.html" %}

{% block meta_title %}Test{% endblock meta_title %}

{% block title %}Test{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div id="chart_runs_per_day">-- Тут має бути графік --</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="chart_runs_per_hour">-- Тут має бути графік --</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="chart_age">-- Тут має бути графік --</div>
    </div>
</div>

{% block extra_js %}
<script>
$(function () {
    $('#chart_runs_per_day').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Розподілення кількості пробіжок по дням'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category',
            title: {
                text: 'День травня місяця',
                style: {
                    fontSize: '15px'
                }
            },
            labels: {
                // rotation: -45,
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Кількість пробіжок',
                style: {
                    fontSize: '15px'
                }
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            // formatter: function() {
            //     return 'День: <b>' + this.x + '</b><br> Пробіжок: <b>' + this.y + '</b> ';
            // },
            headerFormat: 'День: <b>{point.key}</b><br>',
            pointFormat: '{series.name}: <b>{point.y:.0f}</b>'
        },
        series: [{
            name: 'Пробіжки',
            color: 'rgba(45, 70, 123, 0.30)',
            data: [
                {% for row in values %}
                ['{{row.0|date:"d"}}', {{row.1}}],
                {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#FFFFFF',
                align: 'right',
                format: '{point.y:.0f}', // without decimal
                y: 10, // 10 pixels down from the top
                style: {
                    fontSize: '12px',
                    fontFamily: 'Verdana, sans-serif',
                    fontWeight: 600,
                }
            }
        }]
    });
});
</script>
{% endblock extra_js %}


{% endblock %}
