/* Global Styles */
h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
}

.alert {
	/* Ми додали відстань лише зверху елемента: -top */
	margin-top: 10px;
}

.footer {
	/* pадаємо верхню межу елемента: ширина лінії, тип лінії,
	 * колір лінії */
	border-top: 1px solid #dddddd;
	/*задаємо внутрішю відстанб елемента до верхньго краю */
	padding-top: 10px;
    text-align: center;
}
html,
body{
    height: 100%;
}

.dl-horizontal .action-entry-name{
    width: 360px;
}
.dl-horizontal .action-entry-detail{
    margin-left: 380px;
}

.wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.post-body-wrap {
    white-space: normal;
    word-wrap: break-word;
}

.attachments-title{
	color: red;
	font-weight: bold;
}

.post-message{
	margin-bottom: 20px;
}

.search-form{
	margin-bottom: 10px;
	margin-top: 20px;
}
.navbar-nav li{
	font-size: 1.4em;
	font-weight: 500;
}
.navbar{
	background-color: #cbd2e1;
	border-radius: 0;
}
a{
	color: #2d467b;
}
.navbar-brand img{
	border: medium inset #2d467b;
}
.members-list-name{
	font-size: 1.2em;
}
.counter{
	font-weight: 500;
}

.member-details{
	margin-left: 25px;
	font-size: 1.2em;
	font-weight: 500;
}
.navbar-toggle, .icon-bar{
	border: 1px solid #2d467b;
}
